.quote blockquote {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 900px;
}

@media (width >= 900px) {
  .quote blockquote {
    padding: 0 32px;
  }
}

.quote blockquote .quote-quotation {
  font-size: 120%;
}

.quote blockquote .quote-quotation > :first-child {
  text-indent: -0.5ch;
}

.quote blockquote .quote-quotation p:first-child::before,
.quote blockquote .quote-quotation p:last-child::after {
  line-height: 0;
}

.quote blockquote .quote-quotation p:first-child::before {
  content: '“';
}

.quote blockquote .quote-quotation p:last-child::after {
  content: '”';
}

.quote blockquote .quote-attribution {
  text-align: right;
}

.quote blockquote .quote-attribution p:first-child::before {
  content: '—';
  padding-right: 0.5ch;
}

/* Color variant classes */
.quote.black { color: #000; }
.quote.white { color: #fff; }
.quote.grey { color: #6c6c6c; background-color: #f5f5f5; }
.quote.teal { color: #00534c; }
.quote.green-accent { color: #26d07c; }
.quote.dark-teal { color: #fff; background-color: #003d38; }
.quote.light-teal { color: #fff; background-color: #007864; }
