.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

/* Color variant classes */
.columns.black { color: #000; }
.columns.white { color: #fff; }
.columns.grey { color: #6c6c6c; background-color: #f5f5f5; }
.columns.teal { color: #00534c; }
.columns.green-accent { color: #26d07c; }
.columns.dark-teal { color: #fff; background-color: #003d38; }
.columns.light-teal { color: #fff; background-color: #007864; }
