/* header and nav layout */
header .nav-wrapper {
  background-color: #00534c;
  width: 100%;
  z-index: 2;
  position: fixed;
  top: 0;
}

header .header {
  height: calc(var(--nav-height) + 33px);
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
    'hamburger brand tools' var(--nav-height)
    'sections sections sections' 1fr / auto 1fr auto;
  align-items: center;
  gap: 0 24px;
  margin: auto;
  max-width: 1300px;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
  color: #fff;
}

header nav[aria-expanded='true'] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100dvh;
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    max-width: 1300px;
    padding: 0 32px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: #fff;
  text-decoration: none;
}

header nav a:any-link:hover {
  text-decoration: underline;
}

/* utility bar */
header nav .nav-utility {
  display: none;
}

@media (width >= 900px) {
  header .nav-wrapper {
    padding-top: 33px;
  }

  header nav .nav-utility {
    display: flex;
    position: absolute;
    top: -33px;
    left: 0;
    right: 0;
    height: 33px;
    background-color: #00a499;
    align-items: center;
    justify-content: flex-end;
    padding: 0 32px;
  }

  header nav .nav-utility ul {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  header nav .nav-utility a:any-link {
    font-size: 12px;
    color: #fff;
  }
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: #fff;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::before,
header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::before,
header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 210px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 180px;
  height: auto;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
}

header nav[aria-expanded='true'] .nav-sections {
  display: block;
  visibility: visible;
  align-self: start;
}

header nav .nav-sections ul {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-s);
}

header nav .nav-sections h2,
header nav .nav-sections h3 {
  color: #fff;
  font-size: inherit;
  font-weight: 500;
  margin: 0;
  font-family: var(--body-font-family);
}

header nav .nav-sections ul > li {
  font-weight: 500;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-weight: 400;
}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    bottom: 2px;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    display: flex;
    gap: 24px;
    margin: 0;
  }

  header nav .nav-sections > ul > li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections > ul > li > ul {
    display: none;
    position: relative;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  header nav .nav-sections > ul > li[aria-expanded='true'] > ul {
    display: block;
    position: absolute;
    left: -24px;
    width: 280px;
    top: 150%;
    padding: 16px;
    background-color: #00534c;
    white-space: initial;
    z-index: 1;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 20%);
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul ul {
    display: block;
    gap: 0;
    padding: 0;
    margin: 4px 0 8px;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] > ul h3 {
    font-size: 13px;
    font-weight: 700;
    margin: 12px 0 4px;
    color: #26d07c;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  header nav .nav-sections > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #00534c;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  header nav .nav-sections > ul > li > ul > li {
    padding: 8px 0;
    border-bottom: 1px solid rgb(255 255 255 / 15%);
  }

  header nav .nav-sections > ul > li > ul > li:last-child {
    border-bottom: none;
  }

  header nav .nav-sections > ul > li > ul a:any-link {
    font-size: 14px;
  }

  header nav .nav-sections > ul > li > ul a:any-link:hover {
    color: #26d07c;
  }
}

/* tools / CTA */
header nav .nav-tools {
  grid-area: tools;
}

header nav .nav-tools p {
  margin: 0;
}

header nav .nav-tools a:any-link {
  display: inline-block;
  padding: 8px 20px;
  background-color: #26d07c;
  color: #00534c;
  font-weight: 700;
  font-size: 14px;
  border-radius: 100px;
  text-decoration: none;
  transition: background-color 0.2s;
}

header nav .nav-tools a:any-link:hover {
  background-color: #1fb96c;
  text-decoration: none;
}

/* breadcrumbs */
header .breadcrumbs {
  display: none;
  margin: auto;
  max-width: 1300px;
  height: var(--breadcrumbs-height);
  padding: 0 24px;
  font-size: var(--body-font-size-xs);
  overflow: hidden;
}

header .breadcrumbs ol {
  display: flex;
  flex-flow: wrap;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  gap: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li {
  padding: 0;
  color: rgb(255 255 255 / 70%);
}

header .breadcrumbs ol li:not(:last-child)::after {
  content: '/';
  padding-left: 1ch;
}

/* stylelint-disable-next-line no-descending-specificity */
header .breadcrumbs ol li[aria-current] {
  color: #fff;
}

@media (width >= 900px) {
  header .breadcrumbs {
    display: block;
    max-width: 1300px;
    padding: 0 32px;
  }
}

/* Color variant classes */
.header.black { color: #000; }
.header.white { color: #fff; }
.header.grey { color: #6c6c6c; background-color: #f5f5f5; }
.header.teal { color: #00534c; }
.header.green-accent { color: #26d07c; }
.header.dark-teal { color: #fff; background-color: #003d38; }
.header.light-teal { color: #fff; background-color: #007864; }
